# atom
/atom.symlink/*
!/atom.symlink/config.cson
!/atom.symlink/init.coffee
!/atom.symlink/install.sh
!/atom.symlink/keymap.cson
!/atom.symlink/packages.txt
!/atom.symlink/snippets.cson
!/atom.symlink/styles.less

# vim
/vim.symlink/*
!/vim.symlink/config
!/vim.symlink/ftplugin
!/vim.symlink/vimrc.symlink

# libraries
/lib/*

# git credential file
git/gitconfig.local.symlink

# karabiner
/karabiner/*
!/karabiner/karabiner.json
!/karabiner/assets
